.table {
    /* width: 800px;
    height: 1000px; */
    border-collapse: collapse;
    margin: auto;
}

th {
    border-bottom: 1px solid black;
    border: 2px solid black;
}

td {
    text-align: center;
    border: 2px solid black;
    padding: 0.5rem;
}

.header {
    text-transform: uppercase;
    height: 2rem;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: rgb(161, 199, 246);
}